<div class="section">
<div class="profile">
    <img src="profile.jpg">
</div><div class="only-mobile name-mobile">
    <h1>Tianshu Huang</h1>
</div><div class="biography">
    <h1 class="no-mobile">Tianshu Huang</h1>
    <p>
        I am a PhD student co-advised by {{ ref("Anthony Rowe") }} and {{ ref("Carlee Joe-Wong") }} at the Department of <a href="https://www.ece.cmu.edu/">Electrical and Computer Engineering</a> at Carnegie Mellon University.

        I'm interested in <b>Learning for Systems</b>: applying machine learning to (cyber-physical) systems in ways that leverage both data-driven learning techniques and a theoretical and intuitive understanding of system properties.
    </p>
    <p>
        Previously, I obtained my B.S. in Electrical Engineering at the University of Texas at Austin in May 2021. While at UT Austin, I worked on Learning to Optimize research with {{ ref("Atlas Wang") }}.
    </p>
    <p>
        Please contact me at <a href="mailto:tianshu2@andrew.cmu.edu">tianshu2@andrew.cmu.edu</a>.
        You can find my GitHub page <a href="https://github.com/thetianshuhuang" target="_blank">here</a>;
        I also have a <a href="photography.html">photography site</a>.
    </p>
</div>
</div>

<div class="section">
<h2>Research</h2>

<div class="tabs">
    {% for topic, about in topics.items() -%}
    <div
        {% if not loop.first %}class="disabled"{% endif -%}
        id="tab-{{topic}}" onclick="select(['tab-', 'topic-'], '{{topic}}')"
    >{{ about.name }}</div>
    {%- endfor %}
</div>

<div class="topics">
{% for topic, about in topics.items() %}
<div id="topic-{{topic}}" {% if not loop.first %} class="disabled" {% endif %}>
{{ about.description }}
</div>
{% endfor %}
</div>
</div>

<div class="section">
<h2>Publications</h2>
<table class="toggle-filters"><tbody>
    <tr><td>Current Research</td><td>
        <span class="button" id="toggle-radar" onclick="filter(this, 'tag', 'radar')">Radar</span>
        <span class="button" id="toggle-wasm" onclick="filter(this, 'tag', 'wasm')">Distributed Systems</span>        
    </td></tr>
    <tr><td>Past Research</td><td>
        <span class="button" id="toggle-l2o" onclick="filter(this, 'tag', 'l2o')">Learning to Optimize</span>
    </td></tr>
</tbody></table>

<div class="papers">
{% for paper in papers.values() -%}
<div class="{% for tag in paper.tags %}tag-{{tag}} {% endfor %}">
    {% if paper.url %}
    <a href="{{paper.url}}" class="active">
    {% else -%}
    <a>
    {%- endif %}
    {% if paper.venue %}<span>({{ paper.venue }})</span>{% endif %}
    {{ paper.title }}
    </a>
    <div>
        <div>
        {%- for author in paper.authors -%}
        {{ ref(author, mode='cv') }}
        {%- if not loop.last %}, {% endif %}
        {% endfor -%}
        </div>
        {% if paper.summary -%}
        <div><i>
            {{ paper.summary }}
        </i></div>
        {%- endif %}
        {%- if paper.resources %}
        <div class="paper-links">
        {%- for name, url in paper.resources.items() %}
        <a href="{{url}}" target="_blank" class="button">{{name}}</a>
        {%- endfor %}
        </div>
        {% endif -%}
        {% if paper.figure -%}
        <div class="image-800"><img src="{{paper.figure}}"></img></div>
        {%- endif %}
    </div>
</div>
{%- endfor %}
</div>
</div>

<div class="section">

<h2>Awards</h2>
{%- for award in awards %}
<p>
    {{ award.date }} | <b>{{ award.name }}</b> <br>
    <i>{{ award.description }}</i>
    {%- if award.note %}
    <br>{{ award.note }}
    {% endif -%}
</p>
{%- endfor %}

<h2 id="section-talks">Invited Talks</h2>
<ul>
<li>
    Leveraging Wasm instrumentation,
    <a href="https://www.cs.cmu.edu/~wasm/wasm-research-day-2023.html">WebAssembly Research Day 2023</a>
    (With {{ ref("Arjun Ramesh") }})
</li>
<li>
    Giving the Cloud an Edge with WebAssembly,
    <a href="http://www.cs.cmu.edu/~wasm/wasm-research-day-2022.html">WebAssembly Research Day 2022</a>
    (With {{ ref("Arjun Ramesh") }})
</li>
</ul>

<h2 id="section-students">Students</h2>
<ul>
    {%- for student in students %}
    <li>{{ ref(student.name) }} ({{ student.type }}; {{ student.date }}) &mdash; {{ student.topic }}</li>
    {%- endfor %}
</ul>

<h2 id="section-teaching">Teaching</h2>
{%- for class in teaching %}
{%- if class.name %}
<p>
    {{ class.type }}: <a href="{{ class.url }}"><b>{{ class.name }}</b></a><br>
    <i>{{ class.host }} {{ class.class }}, {{ class.date }}</i>
</p>
{%- elif class.lectures %}
{{ class.type }}: <b>{{ class.host }} {{ class.class }}</b>, {{ class.date }}
<ul style="margin-top: 0px">
    {%- for lecture in class.lectures %}
    <li>Lecture: <a href="{{ lecture.url }}">{{ lecture.name }}</a></li>
    {%- endfor %}
</ul>
{%- else %}
<p>
    {{ class.type }}: <b>{{ class.host }} {{ class.class }}</b>, {{ class.date }}
</p>
{%- endif %}
{%- endfor %}

<h2>Casual Presentations</h2>
<ul>
    <li><a href="resources/NeRFs.pdf">The NeRF is Dead ... Long Live the NeRF.</a></li>
    <li><a href="resources/TopicsOnTheEdge.pdf">Topics on the Edge (of Federated Learning)</a></li>
</ul>

<h2>Service</h2>
<ul>
    <li>Co-Chair, Student Council for Faculty Hiring 2024</li>
    <li>Reviewer, ICML 2022-2023</li>
    <li>Reviewer, NeurIPS 2022</li>
    <li>Reviewer, CrossFL @ MLSys</li>
</ul>

</div>
