<!DOCTYPE html>
<html>

<head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="style.css">

<title>Tianshu Huang {% if pagetitle %}| {{ pagetitle }}{% endif %}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">    
</head>

<body>
<div class="container">
{{ contents }}
</div>

<div class="no-mobile">
<div id="footer-ref">
    Tianshu Huang &copy; 2024
    {%- for link in footer_links %}{% if link.url != pagefile -%}
    | {{ link.name }}
    {%- endif %} {% endfor -%} 
</div>
<div id="footer-links"
    onmouseover="this.style.width =(document.getElementById('footer-ref').clientWidth + 1) + 'px';"
    onmouseout="this.style.width = '10px';">
    Tianshu Huang &copy; 2024
    {% for link in footer_links %}{% if link.url != pagefile -%}
    | <a href="{{ link.url }}" target="_blank">{{ link.name }}</a>
    {% endif %}{% endfor -%}
</div>
</div>

</body>
</html>
