<div class="section">
    <div class="profile">
        <img src="profile_p.jpg">
    </div><div class="only-mobile name-mobile">
        <h1 style="margin-top: 0px">Tianshu Huang</h1>
    </div><div class="biography">
        <h1 class="no-mobile">Tianshu Huang</h1>
        <p>
            I'm an amateur photographer who mostly takes travel photos; recently, I've also been dabbling in events and other research-related work. I started (somewhat) seriously trying to learn photography in 2022; this page documents my best work so far.
        </p>
        <p>
            You can find my academic page <a href="index.html">here</a>. Please contact me at <a href="mailto:tianshu2@andrew.cmu.edu">tianshu2@andrew.cmu.edu</a>.
        </p>
    </div>
</div>

<div class="section" style="padding-top: 50px">

<div class="photos">
    {% for year in photos -%}
    <h3 id="{{year}}">{{year}}</h3>
    {% for photo in photos[year] -%}
    <div class="{{photo.aspect}}">
        <div onclick="selected = 'photos/{{photo.path}}'; open_pre();"></div>
        <span></span>
        <img src="thumbs/{{photo.path}}" alt="{{photo.desc}}">
    </div>
    {% endfor -%}
    {% endfor -%}
</div>

<div class="overlay">
    <div id="overlay-pre" style="display: none">
        <img id="overlay-pre-img" onclick="close_pre();">
    </div>
</div>

<script>
var selected = '';

function open_pre() {
    document.getElementById("overlay-pre").style.display = 'block';
    document.getElementById("overlay-pre-img").src = selected;
}
function close_pre() {
    document.getElementById('overlay-pre').style.display = 'none';
    document.getElementById("overlay-pre-img").src = '';
}
</script>
