/* Main Settings */
 :root {
    --mobile-thresh: 700px;
    --width: calc(min(90vw, 80vw + 50px, 1000px));
	--dark: #000;
    --disabled: #888;
    --surface: #ddd;
	--highlight: #005cf1;
	--light: #fff;
	--highlight-tl: rgba(0, 92, 241, 0.8);
	--light-tl: rgba(255, 255, 255, 0.8);
    --radius: 4px; 
}

/* Elements */
 html, body{
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
    font-weight: 400;
	line-height: 1.5;
	color: var(--dark);
	background-color: #fff;
	width: 100%;
	margin: 0;
}

ul li { white-space: normal; }
img { width: 100%; vertical-align: middle; }
a {
	color: inherit; background-color: transparent;
	-webkit-text-decoration-skip: objects;
}
a:active, a:hover { outline-width:0; color: var(--highlight)}
h1 { font-size: 60px; font-weight: 300; }
h2 { font-size: 32px; font-weight: 400; }
h3 { font-size: 24px; font-weight: 400; }
h4 { font-size: 20px; font-weight: 400; }
h5 { font-size: 18px; font-weight: 400; }
h6 { font-size: 16px; font-weight: 400; }
h1, h2, h3, h4, h5, h6 { margin: 10px 0; }
hr { border-top: 1px solid var(--dark); margin: 20px 10%; }

/* Footer */
#footer-ref, #footer-links { font-size: 12px; }
#footer-ref::before, #footer-links::before { content: "\25c0\fe0e"; }
#footer-ref::after, #footer-links::after { content: "\25c0\fe0e"; }
#footer-ref {
    position: absolute; visibility: hidden;
    width: auto; height: auto; white-space: nowrap;
}
#footer-links {
    position: fixed; right: 20px; bottom: 20px; width: 10px; height: 15px;
    overflow-x: hidden; overflow-y: hidden; transition: 0.3s; z-index: 10; 
}

/* Paper-style paragraph */
.p { margin-top: 1em; margin-bottom: 1em; }
.p ol, .p ul {
    counter-reset: list;
    margin-top: 0.5em; margin-bottom: 0.5em;
}
.p p { margin-top: 0.5em; margin-bottom: 0.5em; }
.p ol > li { list-style: none; }
.p ol > li:before {
    content: "(" counter(list) ") ";
    counter-increment: list;
}

/* Main container */
.container {
    width: var(--width);
    padding: calc(min(5vw, 80px)) 0;
}
.container .section { width: 100%; padding-bottom: 2em; }
.container .section:not(:first-child) {
    margin-top: calc(min(1000px, 90vw) * 0.02);
}

/* Bio */
.profile {
    width: calc(var(--width) * 0.3);
    display: inline-block;
    vertical-align: top;
    padding-right: calc(var(--width) * 0.048);
}
.biography {
    display: inline-block; vertical-align: top; position: relative;
}
.name-mobile { display: inline-block; width: calc(var(--width) * 0.65); }
.name-mobile h1, .biography h1 {
    margin-top: 0; padding-top: 0;
    line-height: 60px; word-break: normal;
}

/* Mobile Management */
.only-mobile, .no-mobile { display: inline-block; }
/* Narrow screen */
@media screen and (max-width: 700px) {
	.no-mobile { display: none !important; }
    .biography { width: 90vw; }
    .container { margin-left: calc(0.5 * (100vw - var(--width))); }
}
/* Wide screen */
@media screen and (min-width: 700px) {
	.only-mobile { display: none !important; }
    .biography { width: calc(var(--width) * 0.65); }
    .container { margin-left: calc(0.5 * (100vw - var(--width))); }
}

/* Papers */
.toggle-filters td { padding: 0em 2em 0.2em 0em; }
.toggle-filters span { margin: 0.2em; }
.papers > div {
    margin: 1em 0em;
}
.authors { padding-bottom: 0.5em; }
.authors > span:not(:last-child) { margin-right: 3em; }
.authors > span { display: inline-block; }
.paper-links { padding: 0.2em 0em; }
.tabs {
    background-color: var(--disabled); color: var(--light); display: block;
    font-size: 18px; font-weight: 400; user-select: none;
}
.tabs { border-radius: var(--radius) var(--radius) 0 0; }
.tabs > div:first-child { border-radius: var(--radius) 0 0 0; }
.tabs > div, .tab {
    background-color: var(--dark); padding: 0.5em 1.5em; display: inline-block
}
.topics > div {
    border: 1px solid black; border-radius: 0 0 var(--radius) var(--radius);
    display: block; padding: 1em;
}
.topics > div.disabled, .papers > div.disabled { display: none !important; }
.papers > div > div {
    padding: 1em; border: 1px solid black;
    border-radius: 0 0 var(--radius) var(--radius);
}
.papers > div > a {
    background-color: var(--dark); color: var(--light); padding: 1em;
    display: block; text-decoration: none;
    border-radius: var(--radius) var(--radius) 0 0;
}
.papers > div > a.active:hover {
    background-color: var(--highlight);
}
.paper-links > a, .button {
    background-color: var(--dark); color: var(--light);
    padding: 0.5em 1em; text-decoration: none; border-radius: var(--radius);
    display: inline-block; margin: 0.2em 0em; user-select: none;
}
.button.disabled, .tabs > div.disabled {
    background-color: var(--disabled);
}
.paper-links > a:not(:last-child) { margin-right: 0.5em; }
.paper-links > a:hover, .button:hover, .tabs > div:hover, .tab:hover {
    background-color: var(--highlight-tl); color: var(--light) }

.hidden {display: none !important}

/* Images */
.image-800, .image-600, .image-500, .image-400 { width: 100%; }
.image-800 > img, .image-600 > img, .image-500 > img, .image-400 > img
    { margin-left: auto; margin-right: auto; display: block; }
.image-600 > img { width: calc(min(100%, 700px)); }
.image-500 > img { width: calc(min(100%, 500px)); }
.image-400 > img { width: calc(min(100%, 400px)); }

/* Photography */
.photos {
    width: 100%; display: grid; gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
}
.photos > div {
    width: 100%;
    aspect-ratio: 1 / 1;
    display: inline-block;
    position: relative;
}
.photos > div > img { width: 100%; height: 100%; object-fit: cover; }
.photos > div > div {
    width: 100%; height: 100%; position: absolute;
    background-color: transparent;
}
.photos > div > div:hover { background-color: var(--highlight-tl); }
.photos > div > span {
    border: 2px solid white;
    position: absolute;
    bottom: 10px; left: 10px;
}
.photos > .x32 > span { width: 14px; height: 8px }
.photos > .x23 > span { width: 8px; height: 14px }
.photos > .x11 > span { width: 8px; height:  8px }
.photos > .x21 > span { width: 20px; height: 8px }
.photos > .x31 > span { width: 32px; height: 8px }
.photos > h3 { grid-column: 1 / -1; }
.overlay > div {
    position: fixed;
    left: 0; top: 0; width: 100vw; height: 100vh;
    background-color: rgba(200, 200, 200, 0.5);
}
.overlay > div > img {
    position: absolute;
    max-width: 100vw; max-height: 100vh;
    width: auto; height: auto;
    top: 50%; left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
