
/*
 * Main Settings
 */
:root {
	--dark: #000;
	--highlight: #005cf1;
	--light: #fff;
	--background: #f3f3f3;
	--highlight-tl: rgba(0, 92, 241, 0.8);
	--light-tl: rgba(255, 255, 255, 0.8);
	--item-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	--header-shadow: 0 4px 8px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	--card-width: 400px;
	--width: 90vw;
}
html, body{
	font-family: Verdana,
	sans-serif;
	font-size: 15px;
	line-height: 1.5
	background-color: var(--background);
	width: 100%;
	margin: 0;
}
ul li {
	white-space: normal;
}
img {
	width: 100%;
	vertical-align: middle;
}
a {
	color: inherit;
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}
a:active, a:hover {
	outline-width:0
}
h1{font-size:36px}
h2{font-size:30px}
h3{font-size:24px}
h4{font-size:20px}
h5{font-size:18px}
h6{font-size:16px}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}


/*
 * Mobile Management
 */
.div-only-mobile {
    display: block;
}
.div-no-mobile {
    display: block;
}
@media screen and (max-width: 849px) {
	.div-no-mobile {
	    display: none !important;
	}
	:root {
		--width: 95vw;
		--card-width: 300px;
	}
}
@media screen and (min-width: 849px) {
	.div-only-mobile {
		display: none !important;
	}
}

.highlight {
	background: var(--highlight);
	color: var(--light);
	font-weight: 700;
	padding: 8px;
}

.img-icon {
	width: 25%;
	display: inline-block;
}
.desc {
	width: 70%;
	display: inline-block;
	vertical-align: top;
	padding: 0px 8px;
}
.hide {
	display: none;
}

.photo, .photo-item {
	width: var(--card-width);
}
.photo-item {
	margin-bottom: 10px;
    box-shadow: var(--item-shadow);
}
.photo-item a:hover {
	background-color: var(--highlight-tl);
}

.poster {
	width: 18vw;
	min-width: 300px;
	padding: 8px;
}
.poster:hover {
	background-color: var(--highlight);
}
.photo-large {
	width: 36vw;
	min-width: 600px;
}

.cc {
	height: 3vh;
	width: 3vh;
}

/*
 * Square card
 */
.square-card>a {
	color: var(--light);
	text-align: center;
	vertical-align: middle;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 0;
}
.square-card>a>h1 {
	background-color: var(--highlight);
	margin: 32px 0px;
	position: absolute;
	width: 100%;
}
.square-card>a:hover {
	background-color: var(--highlight-tl);
}

/*
 * Tags
 */
.tags span, .tag, .tag-desc, .tag-title {
	display: inline;
	width: fit-content;
	white-space: nowrap;
}
.tags span, .tag, .tag-desc {
	background: var(--light-tl);
	font-weight: normal;
	color: var(--dark);
	border-color: var(--dark);
}
.tags span, .tag {
	font-size: 10px;
	padding: 3px;
	margin: 2px 0px;
	border: 1px;
	border-style: solid;
}
.tag-desc, .tag-title {
	font-size: 15px;
	padding: 3px;
	margin: 0px;
	border: solid;
	border-color: var(--dark);
}
.tag-title {
	background: var(--highlight-tl);
	font-weight: 700;
	color: var(--light);
}
.tag-link {
	text-decoration: none;
}
.tag-link:hover {
	background: var(--highlight);
	color: var(--light);
}

/*
 * Page Introduction
 */
.intro {
	max-width: calc(var(--card-width) * 2);
	padding-top: 32px;
	padding-bottom: 32px;
	display: inline-block;
	vertical-align: top;
}
.intro h1 {
	font-size: 50px;
}
.intro-card {
	width: 100%;
	box-shadow: var(--header-shadow);
	background-color: var(--light);
	margin-bottom: 32px;
	padding-top: 64px;
}
@media screen and (min-width: 849px) {
	.intro-card {
		padding-top: 64px;
	}
}
.content {
	margin: auto;
	width: var(--width);
}
.content-limited {
	margin: auto;
	width: var(--width);
	max-width: 1200px;
}

/*
 * Buttons
 */
.button, .button-card, .button-menu {
	border: none;
	display: inline-block;
	padding: 8px 16px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	color: inherit;
	background-color: inherit;
	cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
	white-space: normal;
}
.button:hover, .button-menu:hover, .button-card:hover {
	color: #fff;
	background-color: var(--highlight) !important;
}
.button:disabled, .button-menu:disabled, .button-menu:disabled {
	cursor: not-allowed;
	opacity: 0.3;
}
.button-menu {
	color: black;
	background-color: white;
	width: 100%;
	padding-top: 16px;
	padding-bottom: 16px;
}
.button-card {
	padding: 12px 24px;
	text-align: left;
}
