
/*
 * Main Settings
 */
:root {
	--dark: #000;
	--highlight: #005cf1;
	--light: #fff;
	--highlight-tl: rgba(0, 92, 241, 0.8);
	--light-tl: rgba(255, 255, 255, 0.8);
	--item-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	--header-shadow: 0 4px 8px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	--card-width: 400px;
	--width: 90vw;
}

/*
 * Mobile Management
 */
.div-only-mobile {
    display: none;
}
.div-no-mobile {
    display: block;
}

@media screen and (max-width: 849px) {
	.div-no-mobile {
	    display:none
	}

	.div-only-mobile {
	    display: block;
	}
	:root {
		--width: 95vw;
		--card-width: 300px;
	};
}

.block {
	background: white;
	color: black;
    box-shadow: var(--item-shadow);
}
.highlight {
	background: var(--highlight);
	color: var(--light);
	font-weight: 700;
}
ul li {
	white-space: normal;
}
h4 {
	white-space: normal;
	padding-top: 0px;
	margin-top: 0px;
}
img {
	width: 100%;
}
body {
	background-color: #f3f3f3;
}
.content {
	margin: auto;
	width: var(--width);
}
.header {
	width: 100vw;
	color: #fff;
	background-color: var(--dark);
    box-shadow: var(--header-shadow);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
}

.img-icon {
	width: 25%;
	display: inline-block;
}
.desc {
	width: 70%;
	display: inline-block;
	vertical-align: top;
	padding: 0px 8px;
}
.hide {
	display: none;
}

.photo, .photo-item {
	width: var(--card-width);
}
.photo-item {
	margin-bottom: 10px;
    box-shadow: var(--item-shadow);
}

.poster {
	width: 18vw;
	min-width: 300px;
	padding: 8px;
}
.poster:hover {
	background-color: var(--highlight);
}
.photo-large {
	width: 36vw;
	min-width: 600px;
}

.cc {
	height: 3vh;
	width: 3vh;
}
.h-highlight {
	color: white;
	background: var(--highlight);
	padding: 8px;
	margin: 8px 0px;
}

/*
 * Tags
 */
.tags span, .tag, .tag-desc, .tag-title {
	display: inline;
	width: fit-content;
}
.tags span, .tag, .tag-desc {
	background: var(--light-tl);
	font-weight: normal;
	color: var(--dark);
	border-color: var(--dark);
}
.tags span, .tag {
	font-size: 10px;
	padding: 3px;
	margin: 2px 0px;
	border: 1px;
	border-style: solid;
}
.tag-desc, .tag-title {
	font-size: 15px;
	padding: 3px;
	margin: 0px;
	border: solid;
	border-color: var(--dark);
}
.tag-title {
	background: var(--highlight-tl);
	font-weight: 700;
	color: var(--light);
	border-width: 1px 0 1px 1px;

}
.tag-desc {
	border-width: 1px 1px 1px 0;
}

/*
 * Architecture Page
 */
.render-item {
	margin-bottom: 10px;
	width: var(--card-width);
    box-shadow: var(--item-shadow);
}
.a-desc {
	width: var(--card-width);
	background: var(--light);
}
.a-desc h2 {
	background: var(--highlight);
	padding: 32px 16px 4px 16px;
	margin: 0px;
	color: var(--light);
}
.a-desc div {
	padding: 4px 16px 32px 16px;
	color: var(--dark);
}
.a-hr {
	border-top: 1px solid var(--dark);
	margin: 32px 15%;
}

/*
 * Panorama Table
 */
.pano {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	display: table;
}
.pano tr {
	box-shadow: var(--item-shadow);
}
.pano td {
	padding: 0px;
	vertical-align: top;
	position: relative;
	background-color: rgba(0, 0, 0, 0);
}
.pano td div {
	position: absolute;
}
.pano td img {
	width: 100%;
	height: 150px;
	object-fit: cover;
}
.pano a, .photo-item a {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0);
	display: block;
	position: absolute;
	left: 0;
	top: 0;
}
.pano a:hover, .photo-item a:hover {
	background-color: var(--highlight-tl);
}

/*
 * Page Introduction
 */
.intro {
	max-width: calc(var(--card-width) * 2);
	padding-right: 32px;
	padding-bottom: 32px;
	display: inline-block;
	vertical-align: top;
}
.intro h1 {
	font-size: 50px;
}

/*
 * Patch Table
 */
.patch-table {
	width: 300px;
	display: inline-block;
}
.patch-table img {
	width: 150px;
	height: 150px;
}

/*
 * Buttons
 */
.button, .button-card, .button-menu, .button-navbar {
	border: none;
	display: inline-block;
	padding: 8px 16px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	color: inherit;
	background-color: inherit;
	cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
	white-space: normal;
}
.button:hover, .button-menu:hover, .button-card:hover, .button-navbar:hover {
	color: #fff;
	background-color: var(--highlight) !important;
}
.button:disabled, .button-menu:disabled, .button-menu:disabled, .button-navbar:disabled {
	cursor: not-allowed;
	opacity: 0.3;
}
.button-menu {
	color: black;
	background-color: white;
	width: 100%;
	padding-top: 16px;
	padding-bottom: 16px;
}
.button-card {
	padding: 12px 24px;
	text-align: left;
}
.button-navbar .tabbutton {
	font-size: 20px;
	padding: 12px;
}

/*
 * Photo Button Navigation
 */
.button-image {
	height: 200px;
	display: inline-block;
}
.div-no-mobile .button-image img {
	object-fit: cover;
	width: calc(var(--width) * 0.5);
	height: 200px;
}
.div-only-mobile .button-image img {
	object-fit: cover;
	width: var(--width);
	height: 200px;
}
.button-image a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	text-align: left;
	vertical-align: top;
	background-color: rgba(0, 0, 0, 0);
	color: var(--light);
	font-weight: 700;
	font-size: 20px;
}
.button-image:hover a {
	background-color: var(--highlight-tl);
}

/*
 * Projects
 */
.project-item {
	border: none;
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: left;
	white-space: normal;
	background: var(--light);
	box-shadow: var(--item-shadow);
	width: var(--card-width);
	position: absolute;
	margin-bottom: 32px;
}
.project-item h4:hover {
	color: var(--light);
	background-color: var(--dark);
}
.project-item img {
	width: 100%;
}
.project-item h4 {
	background-color: var(--highlight);
	color: var(--light);
	padding: 8px 8px 8px 16px;
	margin: 0px;
	vertical-align: bottom;
}
.project-item ul {
	padding: 8px 16px 16px 32px;
	margin: 0px;
}
.organization {
	font-size: 12px;
	font-weight: 700;
}

/*
 * Project filter
 */
.filter-buttons button.active {
	background-color: var(--dark);
	color: var(--light);
}
.filter-buttons button {
	margin: 4px;
}
div.inactive {
	display: none;
}
