{% extends base %}


{% block content %}
<div class="content-intro"><div><div>
    <h1>Architecture</h1>

    Architecture is a hobby of mine that emerged from thinking and planning about playing minecraft instead of actually doing anything in-game. I use Sketchup and V-Ray for rendering.
    <br><br>
    Source files available on request. All images and designs <a href="https://creativecommons.org/licenses/by-nc/4.0/">CC BY-NC 4.0</a>.
    <br>
    <img class="cc" src="icon/cc.large.png">
    <img class="cc" src="icon/by.large.png">
    <img class="cc" src="icon/nc.large.png">
</div></div></div>

<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>

<div class="content">
{% for proj in projects %}
<div id=project-{{proj.id}}>
    <div class="card-desc brick">
        <h2>{{proj.name}} ({{proj.date}})</h2>
        <div>{{proj.desc}}</div>
    </div>

    {% for img in proj.images %}
    <div class="brick"><img src="renders/{{proj.folder}}/{{img}}"></div>
    {% endfor %}
</div>
<hr>
{% endfor %}

<script>
var settings = {
    "itemSelector": ".brick",
    "gutter": 20,
    "columnWidth": ".brick",
    "isFitWidth": true
}
var msnry = [];
{% for proj in projects %}
msnry.push(new Masonry(
    document.getElementById("project-{{proj.id}}"), settings));
{% endfor %}

function reload() { for(m of msnry) { m.layout(); } }
window.addEventListener('load', reload);
</script>

</div>
{% endblock %}
