{% extends base %}

{% block style %}
<style>
.render-item {
    margin-bottom: 10px;
    width: var(--card-width);
    box-shadow: var(--item-shadow);
}
.a-desc {
    width: var(--card-width);
    background: var(--light);
}
.a-desc h2 {
    background: var(--highlight);
    padding: 32px 16px 4px 16px;
    margin: 0px;
    color: var(--light);
}
.a-desc div {
    padding: 4px 16px 32px 16px;
    color: var(--dark);
}
.a-hr {
    border-top: 1px solid var(--dark);
    margin: 32px 15%;
}
</style>
{% endblock %}

{% block content %}
<div class="intro-card">
<div class="content">
<div class="intro">
    <h1>Architecture</h1>

    Architecture is a hobby of mine that emerged from thinking and planning about playing minecraft instead of actually doing anything in-game. I use Sketchup and V-Ray for rendering.
    <br><br>
    Source files available on request. All images and designs <a href="https://creativecommons.org/licenses/by-nc/4.0/">CC BY-NC 4.0</a>.
    <br>
    <img class="cc" src="icon/cc.large.png">
    <img class="cc" src="icon/by.large.png">
    <img class="cc" src="icon/nc.large.png">
</div>
</div>
</div>

<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>

<div class="content">
{% for proj in projects %}
<div class="grid" data-masonry='{ "itemSelector": ".render-item", "gutter": 10, "columnWidth": ".render-item", "isFitWidth": true }'>
   <div class="a-desc render-item">
        <h2>{{proj.name}} ({{proj.date}})</h2>
        <div>{{proj.desc}}</div>
    </div>

    {% for img in proj.images %}
    <div class="render-item"><img class="photo" src="renders/{{proj.folder}}/{{img}}"></div>
    {% endfor %}
</div>

<hr class="a-hr">

{% endfor %}

</div>
{% endblock %}
