{% extends base %}

{% block title %}
| Architecture
{% endblock %}

{% block content %}
<div class="content">

<div class="intro">
    <h1>Architecture</h1>

    Architecture is a hobby of mine that emerged from thinking and planning about playing minecraft instead of actually doing anything in-game. I use Sketchup and V-Ray for rendering.
    <br><br>
    Source files available on request. All images and designs <a href="https://creativecommons.org/licenses/by-nc/4.0/">CC BY-NC 4.0</a>.
    <br>
    <img class="cc" src="icon/cc.large.png">
    <img class="cc" src="icon/by.large.png">
    <img class="cc" src="icon/nc.large.png">
</div>

<table class="w3-table">
    <tr>
        <td class="a-desc"><h2>Campus (Spring&nbsp;2019)</h2>
            A design of a 1km x 1km sized college campus, in part inspired by some of my frustrations with UT Austin's campus design. This project features many experiments in street design, with only the form of each building specified.
            <br><br>
            The campus is based around a three-level design. The ground level hosts vehicular traffic, public transportation, a small canal network, and a network of bike paths, the second level contains skybridges that connect all buildings together, and the third level contains a second network of bike paths. The idea is that one can get to any building using either the ground level or second level bike path networks.
        </td>
        <td>
            <img class="photo-large" src="renders/cc/diagonal.jpg"
            ><img class="photo-large" src="renders/cc/top.jpg"
            ><img class="photo" src="renders/cc/middle.jpg"
            ><img class="photo" src="renders/cc/telephoto.jpg"
            ><img class="photo" src="renders/cc/tram-stop.jpg"
            ><img class="photo" src="renders/cc/canal.jpg">
        </td>
    </tr>

    <tr>
        <td class="a-desc"><h2>Hill House (Fall&nbsp;2018)</h2>
            I recently discovered the TV show <i>Grand Designs</i>, a British series showcasing various spec house construction projects. As an excellent source of background noise, I found myself gradually gathering inspiration from the various projects featured on the show. Houses covered in living roofs or partially embedded into hillsides are frequently featured on the show. As such, I wanted to try my hand at designing a hillside house.
            <br><br>
            Located in a small depression, this house attempts to hide the majority of its mass through usage of a grass roof integrated into the hill. To further hide in its environment, the house uses traditional, unremarkable materials. Light is brought to the bottom floor using a courtyard sunk into the ground, which is surrounded on two sides by the main building, on one side by a separated guest room, and on the last side by a walkway.
        </td>
        <td>
            <img class="photo" src="renders/hill/front.jpg"
            ><img class="photo" src="renders/hill/back.jpg"
            ><img class="photo" src="renders/hill/end.jpg"
            ><img class="photo" src="renders/hill/courtyard.jpg"
            ><img class="photo" src="renders/hill/top.jpg"
            ><img class="photo" src="renders/hill/floorplan-2.jpg"
            ><img class="photo" src="renders/hill/floorplan-1.jpg">
        </td>
    </tr>
    <tr>
        <td class="a-desc"><h2>BA House (Summer&nbsp;2018)</h2>
            This summer, I worked at SLD Laser in Fremont, California. While there, I was inspired (in part by my desire to live in the Bay Area) by the architecture of the area; unlike the vast and wide McMansions of Texas, Bay Area homes simply cannot afford to waste space on frivolous detail or crude caricatures of the antebellum south.
            <br><br>
            With its small, narrow, and hilly plot, this design emulates the style of a typical Bay Area home, with a slight twist. The house is wrapped around a large central courtyard with a tree. In order to make the courtyard have a reasonable size without requiring an excessively large home, one wall of the couryard is shared with the side of the building.
            <br><br>
            The house is laid out with living spaces on the second floor, with a garage, workshop, and office occupying the first floor. The main entrance is hidden at the side of the building, and leads directly to the courtyard.
        </td>
        <td>
            <img class="photo" src="renders/ba_house/front.jpg"
            ><img class="photo" src="renders/ba_house/side.jpg"
            ><img class="photo" src="renders/ba_house/top.jpg"
            ><img class="photo" src="renders/ba_house/back.jpg"
            ><img class="photo" src="renders/ba_house/courtyard.jpg">
        </td>
    </tr>

    <tr>
        <td class="a-desc"><h2>Diagonal House (Fall&nbsp;2017)</h2>
            This was my first full house design. The house is designed around two separately aligned axes, creating many interesting shapes where these axes interact to create various triangles, trapezoids, and parallelograms.
            <br><br>
            The roof is fundamentally two slopes from a center ridge line; this roof shape is made more sophisticated by introducing periodic jumps, and two triangular stone towers that rise through the house.
            <br><br>
            The house features extensive outdoor spaces, including a 1/2-floor-aligned balcony above the 1 1/2-floor high entrance hall clad with stained wood decking. Combined with the black, multifaceted roof geometry, the house presents a simple, yet visually appealing aerial view (which, in my opinion, is far too often neglected by Architects).
        </td>
        <td>
            <img class="photo" src="renders/diagonal_house/front.jpg"
            ><img class="photo" src="renders/diagonal_house/front_higher.jpg"
            ><img class="photo" src="renders/diagonal_house/top.jpg"
            ><img class="photo" src="renders/diagonal_house/back.jpg">
        </td>
    </tr>

    <tr>
        <td class="a-desc"><h2>Museum - "The Cube" (Spring&nbsp;2017)</h2>
            My first design with a fully featured interior. This was my Art History final project; the assignment was to design an Art Museum and describe a collection of art across various periods that would be in it (I might have done a bit of extra work).
            <br><br>
            The massing and concept was originally conceptualized by a friend in middle school. When I got this assignment, thought I would try to take this idea and fully form it into a complete structure.
            <br><br>
            The museum is designed in a brutalist style, featuring various patterns of scored concrete arranged in sharp angles. In a slight departure from the brutalist style, the focal point of the museum is a large, glass-walled cube; various floors rise on cylindrical supports inside the cube, but never touch the exterior. In order to add color, the exposed edges of each floor are painted in bright colors, creating a color theme for each floor.
        </td>
        <td>
            <img class="photo" src="renders/museum/front.jpg"
            ><img class="photo" src="renders/museum/back.jpg"
            ><img class="photo" src="renders/museum/top.jpg"
            ><img class="photo" src="renders/museum/corner.jpg"
            ><img class="photo" src="renders/museum/pond.jpg">
        </td>
    </tr>

    <tr>
        <td class="a-desc"><h2>05 (Fall&nbsp;2016)</h2>
            This was my first design to specify any sort of interior. No materials are specified, other than grass, to represent green space, water, to depict two water features at the center, and glass.
            <br><br>
            This uncreatively named (this was my 5th project) three-floor apartment complex features two long rows of two and three-floored units sized somewhere between an apartment unit and a townhouse. At the ends, larger units are intended as mixed-use commercial units.
            <br><br>
            Around the center courtyard, on one side, intersecting diagonal supports and downwards-leaning windows create a half-enclosed long hall. Combined with the half-floor-aligned green space (which I imagined as a grassy area for small-scale soccer or similar sports), the center courtyard presents a unique concept for an apartment complex common area.
        </td>
        <td>
            <img class="photo" src="renders/05/top.jpg"
            ><img class="photo" src="renders/05/side.jpg"
            ><img class="photo" src="renders/05/long_hall.jpg"
            ><img class="photo" src="renders/05/courtyard_corner.jpg"
            ><img class="photo" src="renders/05/inner_hall.jpg"
            ><img class="photo" src="renders/05/courtyard_middle.jpg">
        </td>
    </tr>

    <tr>
        <td class="a-desc"><h2>Z Building (Fall&nbsp;2016)</h2>
            One of my earliest designs; explores the interaction of various 90-degree-aligned slats of multiple scales. I imagined this as an university building with classrooms on the bottom floors, with offices and labs on the top floors. Although no interior layout is specified, I've always imagined the central section connecting the two arms as a glass-walled atrium with various walkways crossing it from one arm to the next.
        </td>
        <td>
            <img class="photo" src="renders/sketch_zbuilding.jpg">
        </td>
    </tr>

    <tr>
        <td class="a-desc"><h2>Pentane (Fall&nbsp;2016)</h2>
            Named "Pentane" since it emulates the structure of isopentane (2-methylbutane), this simple structure is the product of not paying attention in chemistry. This is the first passable design of mine that I could find. It features reasonable massing (and that's about it).
        </td>
        <td>
            <img class="photo" src="renders/sketch_pentane.jpg">
        </td>
    </tr>
</table>

</div>
{% endblock %}
