<!DOCTYPE html>
<html>
<title>Tianshu Huang {{pagetitle}}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="w3.css">
<link rel="stylesheet" href="style.css">

<body>

<div class="header">
	<a class="button-navbar" style='font-weight: 700' href="index.html">Tianshu Huang</a>
	{% for link, page in path %}
	&#x25BA;
	<a class="button-navbar" href="{{link}}">{{page}}</a>
	{% endfor %}
</div>
<div style="width: 100%; height: 60px"></div>


{% block content %}
{% endblock %}

<div id="links-ref" style="position: absolute; visibility: hidden; height: auto; width: auto; white-space: nowrap; font-size: 12px;">
    &#x25c0;&#xfe0e; Tianshu Huang &copy; 2018 | GitHub | LinkedIn | Resources &#x25c0;&#xfe0e;
</div>
<div id="links" style="position: fixed; right: 20px; bottom: 20px; width: 10px; height: 20px; overflow-x: hidden; overflow-y: hidden; transition: 0.3s; z-index: 10; font-size: 12px;"
    onmouseover="this.style.width =(document.getElementById('links-ref').clientWidth + 1) + 'px';"
    onmouseout="this.style.width = '10px';">
    &#x25c0;&#xfe0e;
    Tianshu Huang &copy; 2018 |
	<a href="https://github.com/thetianshuhuang" target="_blank">GitHub</a> |
	<a href="https://www.linkedin.com/in/tianshuhuang/" target="_blank">LinkedIn</a> |
	<a href="resources/index.html" target="_blank">Resources</a>
    &#x25c0;&#xfe0e;
</div>

</body>
</html>
