{% extends base %}

{% block content %}
<style>
#content, #content-other {
	width: 90vw;
	margin: auto;
}
#content>div, #content-other>div {
	width: 90vw;
	max-width: 500px;
	background: white;
	color: black;
	box-shadow: var(--item-shadow);
	margin-bottom: 20px;
}
#skills h1 {
	text-align: center;
}
#skills table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	display: table
}
#skills table th, #skills table td {
	padding: 8px 8px;
	display: table-cell;
	text-align: left;
	vertical-align: top;
}

#about>div {
	text-align: center;
}
#about>div>img {
	width: 60%;
	border-radius: 50%;
}
#about>div>div {
	text-align: left;
	padding: 20px;
}
#about>div>h1 {
	background-color: var(--highlight);
	color: var(--light);
	width: 100%;
	margin: 32px 0px;
}
#links {
	padding: 32px 0px;
}
#skills, #education, #work-experience {
	padding: 32px 20px;
}
#other {
    border-top: 1px solid var(--dark);
    margin: 32px 15%;
}
#work-experience>div, #work-experience>div>div {
	padding: 10px;
}
</style>

<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>

<div style="width: 100%; height: 60px"></div>

<div style="width: 90vw; max-width: 1500px; margin: auto">

<div id="content" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": ".grid-item", "gutter": 20, "isFitWidth": true }'>

<div class="grid-item" id="about">
	<div>
		<h1>Tianshu Huang</h1>
		<img src="icon/hs.jpg">
		<div>
			<p>I'm an ECE student at UT Austin interested in Data Science and Embedded Systems. Specifically, I'm interested in using data science techniques (especially machine learning) to engage in real time decision making.</p>
			<p>I have work experience as a data engineer / full stack developer, and am currently a Test Analysis Systems Consultant at SLD Laser. My favorite language is Python, but I am also fluent in C/C++, R, and JavaScript, with working proficiency in CUDA, Rust, ARM Assembly, Java, and SQL.</p>
			<p>You can contact me at <a href="mailto:tianshu.huang@utexas.edu">tianshu.huang@utexas.edu</a>.</p>
		</div>
	</div>
</div>

<div class="grid-item" id="links">
	<div>
		<a href="#resume" class="button-menu">Resume</a>
		<a href="#education" class="button-menu">Education</a>
		<a href="#work-experience" class="button-menu">Work Experience</a>
		<a href="#skills" class="button-menu">Skills</a>
		<a href="projects.html" class="button-menu">Projects</a>
		<a href="#other" class="button-menu">Other Interests</a>
		<a href="resources.html" class="button-menu">Resources</a>
		<a href="https://www.linkedin.com/in/tianshuhuang/" target="_blank" class="button-menu">LinkedIn</a>
	</div>
</div>

<div class="grid-item square-card">
	<a href="projects.html?ds"><h1>Data Science</h1></a>
	<img src="icon/gs-gpu.jpg">
</div>

<div class="grid-item square-card">
	<a href="projects.html?embedded"><h1>Embedded Systems</h1></a>
	<img src="icon/rb.jpg">
</div>

<div class="grid-item square-card">
	<a href="projects.html?lib"><h1>Libraries</h1></a>
	<img src="icon/syllabus.png">
</div>

<div class="grid-item square-card">
	<a href="projects.html?util"><h1>Utilities</h1></a>
	<img src="icon/explorer.jpg">
</div>

<div class="grid-item square-card" id="resume">
	<a href="resources/tianshu-huang-resume.pdf"><h1>PDF Resume</h1></a>
	<img src="icon/resume.png">
</div>

<div class="grid-item" id="education">
	<div class="w3-center">
		<h1>Education</h1>

		<table class="w3-table">
			<tr class="highlight">
				<td>University of Texas at Austin
					<br><i>GPA: 3.96</i></td>
				<td>Aug 2017 - Present</td>
			</tr>
			<tr>
				<td colspan=2>
					Courses:
					<ul>
						<li>Theory of Probability (Graduate)</li>
						<li>Geometric Foundations of Data Science (Graduate)</li>
						<li>Real Analysis I, II</li>
						<li>Introduction to Embedded Systems</li>
						<li>Computer Architecture</li>
						<li>Digital Logic Design</li>
						<li>Algorithms</li>
						<li>Linear Signals</li>
					</ul>
					Registered Fall 2019:
					<ul>
						<li>Probability and Stochastic Processes I (Graduate)</li>
						<li>Operating Systems</li>
						<li>Automatic Control</li>
					</ul>
				</td>
			</tr>
			<tr class="highlight">
				<td>Texas A&M University
					<br><i>GPA: 4.0</i></td>
				<td>May 2016 - Aug 2017</td>
			</tr>
			<tr>
				<td colspan=2><i>Concurrent enrollment while attending high school</i></td>
			</tr>
		</table>
	</div>
</div>

<div class="grid-item" id="work-experience">
	<div>
		<h1>Work Experience</h1>

		{% for job in work_experience %}
			<div class="highlight">{{job.title}}</div>
			<div>
				<div>
					<span class="tag">{{job.date}}</span>
					{% for tag in job.tags %}
					<span class="tag">{{tag}}</span>
					{% endfor %}
				</div>
				{{job.description}}
			</div>
		{% endfor %}
	</div>
</div>

<div class="grid-item" id="skills">
	<h1>Skills</h1>

	<table>
	{% for category in skills %}
	<tr class="highlight"><th colspan=2>{{category.name}}</th></tr>
	{% for subcategory in category.data %}
	<tr>
		<td>
		{{subcategory["name"]}}&nbsp;&#x25BA;
		{% for s in subcategory.data %}
			{% if s.tag %}
				<a class="tag tag-link" href="projects.html?{{s.tag}}">{{s.name}}</a>
			{% else %}
				<span class="tag">{{s.name}}</span>
			{% endif %}
		{% endfor %}
		</td>
	</tr>

	{% endfor %}
	{% endfor %}
	</table>
</div>

<div class="grid-item square-card" id="resume">
	<a href="https://github.com/thetianshuhuang" target="_blank"><h1>Github</i></h1></a>
	<img src="icon/github.png">
</div>

<div class="grid-item square-card" id="resume">
	<a href="https://pypi.org/user/thetianshuhuang/" target="_blank"><h1>PyPI Page</i></h1></a>
	<img src="icon/pypi.svg">
</div>

</div>

<hr id="other">

<div id="content-other" data-masonry='{ "itemSelector": ".other-item", "columnWidth": ".other-item", "gutter": 20, "isFitWidth": true }'>
	<div class="other-item square-card" style="padding: 0px; position: absolute">
		<a href="architecture.html"><h1>Architecture</h1></a>
		<img src="renders/diagonal_house/top.jpg">
	</div>

	<div class="other-item square-card" style="padding: 0px; position: absolute">
		<a href="photography.html"><h1>Photography</h1></a>
		<img src="photos/sunset_yellow_patch.jpg">
	</div>

	<div class="other-item square-card" style="padding: 0px; position: absolute">
		<a href="miscellaneous.html"><h1>Miscellaneous</h1></a>
		<img src="misc/lc3b/lc3b_blue.svg">
	</div>
</div>

</div>

{% endblock %}
