{% extends base %}

{% block content %}
<style>
.square-card>a>h1 {
	text-align: center;
	color: var(--light);
	background-color: var(--highlight);
	margin: 32px 0px;
	position: absolute;
	width: 100%;
}
.resume-card {
	padding: 32px 20px;
}
.resume-card>div {
	padding: 8px;
}
.resume-card h1 {
	text-align: center;
}
.resume-card table {
	width: 100%;
}
.resume-card table tr td:nth-child(2) {
	text-align: right;
	font-weight: normal;
}
</style>

<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>


<div class="container-limited" style="margin-top: 100px">

<div class="content-masonry" data-masonry='{ "itemSelector": ".brick-large", "columnWidth": ".brick-large", "gutter": 32, "isFitWidth": true }'>

<div class="brick-large" id="about">
	<div style="text-align: center">
		<h1 style="background-color: var(--highlight); color: var(--light); width: 100%; margin: 32px 0px; padding: 8px">Tianshu Huang</h1>
		<img src="icon/hs.jpg" style="width: 60%; border-radius: 50%">
		<div style="text-align: left; padding: 20px">
			<p>I'm an ECE student at UT Austin interested in Data Science and Embedded Systems. Specifically, I'm interested in using data science techniques (especially machine learning) to engage in real time decision making.</p>
			<p>I'm currently working with Prof. Bani Mallick, Anirban Bhattacharya, and Depdeep Pati at Texas A&M University on Bayesian Clustering using various MCMC-based methods; we hope to have a review paper out some time this year.</p>
			<p>You can contact me at <a href="mailto:tianshu.huang@utexas.edu">tianshu.huang@utexas.edu</a>.</p>
		</div>
	</div>
</div>

<div class="brick-large" id="links" style="padding: 64px 0px">
	<div>
		<a href="#resume" class="button-menu">Resume</a>
		<a href="#education" class="button-menu">Education</a>
		<a href="#work-experience" class="button-menu">Work Experience</a>
		<a href="#skills" class="button-menu">Skills</a>
		<a href="projects.html" class="button-menu">Projects</a>
		<a href="#other" class="button-menu">Other Interests</a>
		<a href="resources.html" class="button-menu">Resources</a>
		<a href="https://www.linkedin.com/in/tianshuhuang/" target="_blank" class="button-menu">LinkedIn</a>
	</div>
</div>

<div class="brick-large square-card">
	<a href="projects.html?ds"><h1>Data Science</h1></a>
	<img src="icon/gs-gpu.jpg">
</div>

<div class="brick-large square-card">
	<a href="projects.html?embedded"><h1>Embedded Systems</h1></a>
	<img src="icon/rb.jpg">
</div>

<div class="brick-large square-card">
	<a href="projects.html?lib"><h1>Libraries</h1></a>
	<img src="icon/syllabus.png">
</div>

<div class="brick-large square-card">
	<a href="projects.html?util"><h1>Utilities</h1></a>
	<img src="icon/explorer.jpg">
</div>

<div class="brick-large square-card" id="resume">
	<a href="resources/tianshu-huang-resume.pdf"><h1>PDF Resume</h1></a>
	<img src="icon/resume.png">
</div>

<div class="brick-large resume-card" id="education">
	<h1>Education</h1>

	<div class="highlight">
		<table><tr>
			<td>University of Texas at Austin</td>
			<td>Aug 2017 - Present</td>
		</tr></table>
	</div>
	<div>
		GPA: 3.96<br>
		Courses:
		<ul>
			<li>Theory of Probability (Graduate)</li>
			<li>Geometric Foundations of Data Science (Graduate)</li>
			<li>Real Analysis I, II</li>
			<li>Introduction to Embedded Systems</li>
			<li>Computer Architecture</li>
			<li>Digital Logic Design</li>
			<li>Algorithms</li>
			<li>Linear Signals</li>
		</ul>
		Registered Fall 2019:
		<ul>
			<li>Probability and Stochastic Processes I (Graduate)</li>
			<li>Operating Systems</li>
			<li>Automatic Control</li>
		</ul>
	</div>

	<div class="highlight">
		<table><tr>
			<td>Texas A&M University</td>
			<td>May 2016 - Aug 2017</td>
		</tr></table>
	</div>
	<div>
		GPA: 3.96<br>
		<span style="font-style: italic">
			Concurrent enrollment while attending high school
		</span><br>
		Courses:
		<ul>
			<li>Discrete Math</li>
			<li>Linear Algebra</li>
		</ul>
	</div>
</div>

<div class="brick-large resume-card" id="work-experience">
	<h1>Work Experience</h1>

	{% for job in work_experience %}
	<div class="highlight">
		<table><tr>
			<td>{{job.title}}</td>
			<td>{{job.date}}</td>
		</tr></table>
	</div>
	<div>
		{% for tag in job.tags %}
		<span class="tag">{{tag}}</span>
		{% endfor %}
	</div>
	<div>{{job.description}}</div>
	{% endfor %}
</div>

<div class="brick-large resume-card" id="skills">
	<h1>Skills</h1>

	{% for category in skills %}
	<div class="highlight">{{category.name}}</div>
	{% for subcategory in category.data %}
	<div>
		{{subcategory["name"]}}&nbsp;&#x25BA;
		{% for s in subcategory.data %}
			{% if s.tag %}
				<a class="tag tag-link" href="projects.html?{{s.tag}}">{{s.name}}</a>
			{% else %}
				<span class="tag">{{s.name}}</span>
			{% endif %}
		{% endfor %}
	</div>

	{% endfor %}
	{% endfor %}
</div>

<div class="brick-large square-card" id="resume">
	<a href="https://github.com/thetianshuhuang" target="_blank"><h1>Github</h1></a>
	<img src="icon/github.png">
</div>

<div class="brick-large square-card" id="resume">
	<a href="https://pypi.org/user/thetianshuhuang/" target="_blank"><h1>PyPI Page</h1></a>
	<img src="icon/pypi.svg">
</div>

</div>

<hr>

<div class="content-masonry" data-masonry='{ "itemSelector": ".brick-large", "columnWidth": ".brick-large", "gutter": 32, "isFitWidth": true }'>
	<div class="brick-large square-card" style="padding: 0px; position: absolute">
		<a href="architecture.html"><h1>Architecture</h1></a>
		<img src="renders/diagonal_house/top.jpg">
	</div>

	<div class="brick-large square-card" style="padding: 0px; position: absolute">
		<a href="photography.html"><h1>Photography</h1></a>
		<img src="photos/sunset_yellow_patch.jpg">
	</div>

	<div class="brick-large square-card" style="padding: 0px; position: absolute">
		<a href="miscellaneous.html"><h1>Miscellaneous</h1></a>
		<img src="misc/lc3b/lc3b_blue.svg">
	</div>
</div>

</div>

{% endblock %}
