{% extends base %}

{% block content %}
<div class="content">

<div class="intro">
	<h1>Photography</h1>

	I mostly take landscape photos (including large panoramas), and photos of nature.
	<br><br>
	I first got into Photography after deciding to learn how to properly use a DSLR on a trip to China. Since then, I've been gradually improving my skills. I hope you find something interesting here!
	<br><br>
	All images <a href="https://creativecommons.org/licenses/by-nc/4.0/">CC BY-NC 4.0</a>.
	<br>
	<img class="cc" src="icon/cc.large.png">
	<img class="cc" src="icon/by.large.png">
	<img class="cc" src="icon/nc.large.png">
</div>

<div class="div-no-mobile">
	<div class="button-image" style="position: absolute">
		<a class="button" href='panoramas.html'>Panoramas</a>
		<img src="photos/far_ridge_noon_1M.jpg">
	</div><div class="button-image" style="position: absolute; left: calc(50vw + 10px)">
		<a class="button" href='photos.html'>Photos</a>
		<img src="photos/yellow_on_black_1M.jpg">
	</div>
</div>

<div class="div-only-mobile">
	<div class="button-image" style="position: relative">
		<a class="button" href='panoramas.html'>Panoramas</a>
		<img src="photos/far_ridge_noon_1M.jpg">
	</div>
	<div style="height: 20px"></div>
	<div class="button-image" style="position: relative">
		<a class="button" href='photos.html'>Photos</a>
		<img src="photos/yellow_on_black_1M.jpg">
	</div>
</div>

</div>
{% endblock %}
