{% extends base %}

{% block style %}
<style>
.project-item h4:hover {
	color: var(--light);
	background-color: var(--dark);
}
.project-item h4 {
	background-color: var(--highlight);
	color: var(--light);
	padding: 8px 8px 8px 16px;
	margin: 0px;
	vertical-align: bottom;
}
.project-item ul {
	padding: 8px 16px 16px 32px;
	margin: 0px;
}
.organization {
	font-size: 12px;
	font-weight: 700;
}
.filter-buttons {
	padding-top: 32px;
}
.filter-buttons button.active {
	background-color: var(--dark);
	color: var(--light);
}
.filter-buttons button {
	margin: 4px;
}
div.inactive {
	display: none;
}
</style>
{% endblock %}

{% block content %}
<div class="content-intro"><div>

<div>
	<h1>Projects</h1>

	A mix of class projects, personal projects, and paid projects. Click tag to toggle visibility; projects are displayed if any tags match.
	<br><br>
	Licenses Vary.
</div>

<div class="filter-buttons" style="display: block">
	<h2>
		Filter
	</h2>

	<div>
		Apply All &#x25BA;
		<button class="button active" onclick="applyAll(true)" id="btn-all">All</button>
		<button class="button" onclick="applyAll(false)" id="btn-none">None</button>
	</div>

	{% for name, tags in available_tags.items() %}
	<div>
		<span>{{name}} &#x25BA;</span>
		{% for k, v in tags.items() %}
		<button id='tag-btn-{{k}}' class="button active" onclick="toggleTagVisibility('{{k}}')">
			{{v}}
		</button>
		{% endfor %}
	</div>
	{% endfor %}
</div>

</div></div>

<div class="content"><div class="grid" id="project-grid">

	{% for project in projects %}
	<div class="project-item brick {{project.tag_names}}">

		<div class="tags" style="position: absolute; bottom: 4px; right: 4px">
			{% for tag in project.tags %}
			<span>{{tag}}</span>
			{% endfor %}
		</div>

		<div>
			<h4 onclick='window.open("{{project.link}}", target="_blank")'>
				{{project.name}}
				{% if project.organization %}
				<span class="organization">&#x25B8; {{project.organization}}</span>
				{% endif %}
			</h4>
			<ul>
				{% for line in project.desc %}
				<li>{{line}}</li>
				{% endfor %}
    		</ul>
		</div>

		{% if project.icon %}
		<img src="icon/{{project.icon}}">
		{% endif %}

	</div>
	{% endfor %}

</div></div>

<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script>
var disabledTags = new Set()
var allTags = [{% for t in tag_list %}"{{t}}",{% endfor %}];

var msnry = new Masonry(
	document.getElementById('project-grid'),
	{
		"itemSelector": ".project-item",
		"gutter": 20,
		"columnWidth": parseInt(
			getComputedStyle(document.documentElement)
			.getPropertyValue('--card-width')),
		"isFitWidth": true
	}
);

function isDisabled(project) {
	for(var i = 0; i < project.classList.length; i++) {
		var c = project.classList[i];
		if(c.startsWith("tag") && !disabledTags.has(c)) { return false; }
	}
	return true;
}

function toggleTagVisibility(category) {
	// Remove category
	var btn = document.getElementById('tag-btn-' + category);
	if(disabledTags.has('tag-' + category)) {
		btn.classList.add('active');
		disabledTags.delete('tag-' + category);
	}
	else {
		btn.classList.remove('active');
		disabledTags.add('tag-' + category);
	}
	// Filter projects
	var projects = document.getElementsByClassName('tag-' + category);
	for(var i = 0; i < projects.length; i++) {
		if(isDisabled(projects[i])) {
			projects[i].classList.add('inactive');
		}
		else {
			projects[i].classList.remove('inactive');
		}
	}
	// Redraw masonry
	msnry.layout();

	// Handle all/none button
	var btn_all = document.getElementById("btn-all");
	var btn_none = document.getElementById("btn-none");

	if(disabledTags.size > 0) { btn_all.classList.remove('active'); }
	else { btn_all.classList.add('active'); }

	if(disabledTags.size < allTags.length) { btn_none.classList.remove('active'); }
	else { btn_none.classList.add('active'); }
}

function applyAll(show) {
	for(var i = 0; i < allTags.length; i++) {
		if(!show && !disabledTags.has('tag-' + allTags[i])) {
			toggleTagVisibility(allTags[i]);
		}
		if(show && disabledTags.has('tag-' + allTags[i])) {
			toggleTagVisibility(allTags[i]);
		}
	}
}

// Query -> hide all other tags
if(window.location.search.length > 1) {
	var tmp = new Set([{% for t in tag_list %}"{{t}}",{% endfor %}]);
	tmp.delete(window.location.search.substring(1));
	tmp.forEach(toggleTagVisibility);
}

</script>

{% endblock %}
