{% extends base %}

{% block content %}
<div class="content">

<div class="intro">
	<h1>Projects</h1>

	A mix of class projects, personal projects, and paid projects. Click each tag to toggle visibility. Projects are displayed if any tags match.
	<br><br>
	Licenses Vary.
</div>

<div class="filter-buttons">
<h2>Filter</h2>
{% for name, tags in available_tags.items() %}
<div>
	<span>{{name}} &#x25BA;</span>
	{% for k, v in tags.items() %}
	<button id='tag-btn-{{k}}' class="button active" onclick="toggleTagVisibility('{{k}}')">
		{{v}}
	</button>
	{% endfor %}
</div>
{% endfor %}
</div>


<div style="width: 100%; padding: 32px"></div>

<div class="grid" id="project-grid">

	{% for project in projects %}
	<div class="project-item {{project.tag_names}}">

		<div style="position: absolute; width: 100%;">
			<div class="tags" style="position: absolute; top: 0px; right: 0px">
				{% for tag in project.tags %}
				<span>{{tag}}</span>
				{% endfor %}
			</div>
		</div>

		{% if project.icon %}
		<img src="icon/{{project.icon}}">
		{% endif %}

		<div>
			<h4 onclick='window.open("{{project.link}}", target="_blank")'>
				{{project.name}}
				{% if project.organization %}
				<span class="organization">&#x25B8; {{project.organization}}</span>
				{% endif %}
			</h4>
			<ul>
				{% for line in project.desc %}
				<li>{{line}}</li>
				{% endfor %}
    		</ul>
		</div>
	</div>
	{% endfor %}

</div>

<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>

<script>
var disabledTags = new Set();

var msnry = new Masonry(
	document.getElementById('project-grid'),
	{
		"itemSelector": ".project-item",
		"gutter": 10,
		"columnWidth": parseInt(
			getComputedStyle(document.documentElement)
			.getPropertyValue('--card-width')),
		"isFitWidth": true
	}
);

function isDisabled(project) {
	for(var i = 0; i < project.classList.length; i++) {
		var c = project.classList[i];
		if(c.startsWith("tag") && !disabledTags.has(c)) { return false; }
	}
	return true;
}

function toggleTagVisibility(category) {
	// Remove category
	var btn = document.getElementById('tag-btn-' + category);
	if(disabledTags.has('tag-' + category)) {
		btn.classList.add('active');
		disabledTags.delete('tag-' + category);
	}
	else {
		btn.classList.remove('active');
		disabledTags.add('tag-' + category);
	}
	// Filter projects
	var projects = document.getElementsByClassName('tag-' + category);
	for(var i = 0; i < projects.length; i++) {
		if(isDisabled(projects[i])) {
			projects[i].classList.add('inactive');
		}
		else {
			projects[i].classList.remove('inactive');
		}
	}
	// Redraw masonry
	msnry.layout();
}
</script>

</div>
{% endblock %}
